@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
bootstrapv4 호환 
 body {margin:3px;padding:0}
*/
html {font-family: "Nanum Gothic", sans-serif;margin:0;padding:0;height:100%;}
body {background-color:rgb(237, 237, 238); font-family: "Nanum Gothic", sans-serif;margin:0;padding:3px;}

.HTML_BODY {margin:0px;padding:5px;}

/*
bootstrapv4 호환 
 b*,*::before,*::after {  box-sizing: border-box;}

브라우저 디펄트 : content-box
부트스트랩 디펄트 : border-box
dhtmlx 디펄트 : content-box
*/
*,*::before,*::after {  
    box-sizing: border-box;
}

/*dhtmlx div box*/
div.gridbox {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}



/*
div,input,textarea,select,span {font-family: "Nanum Gothic", sans-serif;font-size: 11px;}

codemirror 폰트 사이즈 문제로 전체 오브젝트 적용은 없앴음.
*/


#F_START_DT, #F_END_DT {
    border: 1px solid #909090;
}

input[type=text]:-moz-read-only { /* For Firefox */
    background-color: silver;
}

input[type=text]:read-only {
    background-color: silver;
}

.BODY_BOX {overflow:visible;width:100%;background-color:rgb(98, 166, 245);padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;z-index:1;
    font-family: "Nanum Gothic", sans-serif;font-size: 11px;
    }
.BODY_BOX_TOP {height:48px;background-color:silver;padding:5px 5px 0px 5px;z-index:1}

.OBJ_BR {position: relative;width:100%;overflow:auto;z-index:20;height:3px}

.CON_LINE {position: relative;width:100%;overflow:auto;z-index:20;}
.CON_OBJGRP {position: relative;float:left;background-color: #eeeeee;vertical-align:middle ;overflow:auto;z-index:25;}
.CON_LABEL {overflow:hidden;overflow-y:hidden;position: relative;float:left;background-color: #eeeeee;vertical-align:middle ;padding-left:5px;overflow:auto;z-index:30;}
.CON_OBJECT {position: relative;float:left;background-color: #eeeeee;vertical-align:middle;overflow:auto;z-index:30;}
.CON_LINEPADDING {position: relative;height:5px;overflow:auto;z-index:20;}

/* 
줄바꿈금지 = white-space: nowrap; 

*/

/*pgminfo 용*/
.GRID_LABELGRP_SLIM {overflow:hidden;background-color: white;position:relative;width:100%;height:25px;z-index:20;}

.GRID_LABELGRP {overflow:hidden;background-color: white;position:relative;width:100%;height:37px;z-index:20;}
.GRID_LABELGRP_GAP {padding:5px 5px 0px 5px;}
.GRID_LABEL {overflow:hidden;overflow-y:hidden;white-space: nowrap;overflow:visible;position:relative;float:left;height:22px;line-height:22px;vertical-align:middle;z-index:30;}
.GRID_LABELBTN {white-space: nowrap;overflow:visible;position: relative;float:right;height:22px;line-height:22px;vertical-align:middle;text-align:right;z-index:30;}
.GRID_OBJECT {overflow:hidden;background-color: white;position: relative;width:100%;z-index:20;}

.CONDITION_LABELGRP {overflow:hidden;position:relative;width:100%;height:32px;z-index:20;}
.CONDITION_LABEL {white-space: nowrap;position:relative;float:left;width:60%;height:22px;line-height:22px;vertical-align:middle;z-index:30;}
.CONDITION_LABELBTN {white-space: nowrap;position: relative;float:left;width:40%;height:22px;line-height:22px;vertical-align:middle;text-align:right;z-index:30;}
.CONDITION_OBJECT {position: relative;background-color:rgb(247, 248, 255);padding:0px 0px 0px 0px;overflow:auto;}

.FORMVIEW_LABELGRP {overflow:hidden;position:relative;width:100%;height:32px;z-index:20;}
.FORMVIEW_LABEL {white-space: nowrap;position:relative;float:left;width:30%;height:22px;line-height:22px;vertical-align:middle;z-index:30;}
.FORMVIEW_LABELBTN {white-space: nowrap;position: relative;float:left;width:70%;height:22px;line-height:22px;vertical-align:middle;text-align:right;z-index:30;}
.FORMVIEW_OBJECT {position: relative;background-color:rgb(247, 248, 255);padding:0px 0px 0px 0px;overflow:auto;}

.CHART_LABELGRP {overflow:hidden;position:relative;width:100%;height:32px;z-index:20;}
.CHART_LABEL {white-space: nowrap;position:relative;float:left;width:30%;height:22px;line-height:22px;vertical-align:middle;z-index:30;}
.CHART_LABELBTN {white-space: nowrap;position: relative;float:left;width:70%;height:22px;line-height:22px;vertical-align:middle;text-align:right;z-index:30;}
.CHART_OBJECT {position: relative;background-color:rgb(247, 248, 255);padding:0px 0px 0px 0px;overflow:auto;}

.GRP_LINE {background-color:#eeeeee;position: relative;width:100%;z-index:10;overflow:auto;}
.GRP_OBJECT {position: relative;float:left;z-index:20;padding:0px 0px 0px 0px}
.GRP_OBJECT_VBOX {position: relative;float:left;z-index:20;padding:0px 0px 0px 0px}
.GRP_GAP {padding:3px 3px 3px 3px;} /*GRP 간의 여백*/
.GRP_INNER {overflow: visible;background-color: white;border-radius:2px;padding:5px 5px 5px 5px;}/*폼뷰, 컨디션, BI뷰*/
/*.GRP_INNER_GRID {overflow: visible;background-color: white;border-radius:2px;padding:0px 0px 0px 0px;}*/

.FORMVIEW_IMGVIEWER {background-color:#e1e1e1;}
.FORMVIEW_IMGVIEWER_IMG {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;    
}

.BI_OBJGRP {border:0px solid black;padding:0px 0px 0px 0px;position: relative;float:left;vertical-align:middle ;overflow:auto;z-index:25;}
.BI_OBJINNER {background-color: white;border-radius:5px;padding:5px 5px 5px 5px;height:70px;}
.BI_LABEL {height:22px;color:gray;text-align:left;font-size:11pt;height:22px;position: relative;vertical-align:middle ;overflow:auto;z-index:30;}
.BI_ICON {overflow:hidden;overflow-y:hidden;position: relative;vertical-align:middle;overflow:auto;z-index:30;}
.BI_VALUE {height:45px;font-weight:bold;text-align:left;font-size:22pt;position: relative;vertical-align:middle;overflow:auto;z-index:30;}
.BI_VALUE2 {font-size:11pt;position: relative;vertical-align:middle;overflow:auto;z-index:30;}
.BI_VALUE2_TYPE3 {color:gray;width:30%;padding-top:16px;text-align:right;}
.BI_VALUE2_TYPE4 {color:white;border-radius:5px;float:left;text-align:left;margin-left:2pt;margin-top:8pt;background-color:gray;}

.ui-datepicker{ font-size: 12px; width: 200px; }
.ui-datepicker select.ui-datepicker-month{ width:60px; font-size: 10px; }
.ui-datepicker select.ui-datepicker-year{ width:60px; font-size: 10px; }
.ui-datepicker-trigger {
	margin-left:2px;
	vertical-align:top;
    }
    
/* dhtmlx */
div.gridbox_dhx_skyblue.gridbox{
    border: 1px solid rgb(211, 210, 210);
}

/* Chart.js */
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* CodeMirror */
.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 12px;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}